<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LivetCask" version="1.1.0.0" targetFramework="net46" />
  <package id="MetroRadiance" version="1.1.0.2" targetFramework="net46" />
  <package id="MetroRadiance.Chrome" version="1.1.0.2" targetFramework="net46" />
  <package id="MetroRadiance.Core" version="1.1.0.2" targetFramework="net46" />
  <package id="MetroTrilithon" version="0.1.0.0" targetFramework="net46" />
  <package id="MetroTrilithon.Desktop" version="0.1.4.0" targetFramework="net46" />
  <package id="Open.WinKeyboardHook" version="1.0.10.0" targetFramework="net46" />
  <package id="StatefulModel" version="0.2.0" targetFramework="net46" />
</packages>